@import '../../assets/styles/variable';
@import '../../assets/styles/mixins';

.header {
  background-color: #282c34;
  color: white;
  text-align: center;
  h2 {
    margin: 0;
    padding-bottom: 20px;
  }
}

.menu_bar {
  ul {
    margin: 0;
    padding: 0;
    padding: 10px 0;
  }
  li {
    display: inline-block;
    margin: 0 5px;
  }
  a {
    color: white;
    font-family: '微軟正黑體';
  }
}

.logo {
  width: 150px;
  height: 150px;
}
