.menu {
  background-color: #222;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  li {
    text-align: center;
    flex: 1;
  }
  a {
    display: inline-block;
    color: white;
    padding: 10px 5px;
    text-decoration: none;
  }
}
